body {
	text-align: center;
	font-family: 'Spirax', cursive;
	/* background: url('P1020529.jpg') center center no-repeat;
	position: relative;
	background-size: cover;
	margin-top: 140px;
	color: white; */
}
#header1{
	font-size: 30px
	color: white;
}

#connect4 {
	background-color: brown;
	display: inline-block;
}

.column {
	height:70px;
	width: 70px;
	display: inline-block;
	background-color: white;
	border-radius: 50%;
	margin: 5px;

}

.player1 {
	/* background: url('giphy.gif') center center no-repeat;
	background-size: contain; */
	background-color: red;
}
.player2 {
	background-color: yellow;
}
